@import "../../../global_variables.scss";

/*TOP BAR*/
.top-menu-wrapper {
  background-color: $wg-blue;
  height: 38px;
  color: white;
  display: flex;
  align-items: center;
}

.test-roles {
  font-size: 0.6em;
  font-weight: 600;
  .active {
    color: $wg-orange;
  }
}

.version {
  font-size: 0.8em;
}

.nav-link{
  cursor: pointer;
}
.selected {
  .nav-link {
    color: $wg-blue;
  }
}

/*MAIN MENU*/

.main-menu-wrapper {
  background-color: $light;
}

.main-menu {
  font-weight: 600;
  font-size: 0.9em;
}

.navbar-light {
  background-color: $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 80px;
}

.logo img {
  height: 65px;
}
.logo-mobile img {
  height: 55px;
}

.navbar-light .navbar-toggler {
  border: 0;
  font-size: 2em;
}

.btn-new-file {
  background-color: $wg-orange;
  color: white !important;
  &:hover {
    background-color: $wg-orange-dark;
  }
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
  }
}

.dropdown-menu {
  max-height: 400px;
  overflow: auto;
  right: 0;
  left: auto;
  top: calc(100% - 12px);
  border-radius: 5px;
}
