h1 {
    color: #495057;
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  
  .card-head {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-body p {
    margin: 0;
    font-size: 1rem;
    color: #333;
  }

  .budget-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .budget-category {
    flex: 1;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 0 10px;
  }
  
  .budget-category h3 {
    color: #495057;
    margin-bottom: 10px;
  }
  
  .budget-category p {
    margin: 5px 0;
  }
  
  .progress-bar{
    background-color: #495057;
    color: #ddd;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .custom-form-field {
    width: 300px;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .custom-form-field .mat-select-trigger {
    color: #007bff;
  }
  
  .custom-form-field .mat-option {
    background-color: #ffffff;
    color: #000;
  }
  
  .bg-custom {
    background-color: #495057;
    --bs-bg-opacity: 1;

  }